{% extends 'base.html.twig' %}

{% block title %}Présentation de la team LAG{% endblock %}

{% block body %}

<div class="example-wrapper-presentation">
    <div class="container presentation">
        <h1>La team LAG</h1>
        <h2>(Les Apprentis Gamers)</h2>
        <div class="team-presentation">
            <figure class="images-presentation">
                <img src="{{ asset('build/images/Alex.png') }}" alt="Bitmoji représentant Alexandre" ;>
                <figcaption>Alexandre</figcaption>
                <p>Gestionnaire du projet</p>
            </figure>
            <figure class="images-presentation">
                <img src="{{ asset('build/images/Mickaël.png') }}" alt="Bitmoji représentatn Mickaël" ;>
                <figcaption>Mickaël</figcaption>
                <p>Référent DevOps</p>
            </figure>
            <figure class="images-presentation">
                <img src="{{ asset('build/images/Miriam.png') }}" alt="Bitmoji représentant Miriam" ;>
                <figcaption>Miriam</figcaption>
                <p>Référente backend</p>
            </figure>
            <figure class="images-presentation">
                <img src="{{ asset('build/images/Michaël.png') }}" alt="Bitmoji représentant Michaël" ;>
                <figcaption>Michaël</figcaption>
                <p>Référent frontend</p>
            </figure>
        </div>
        
            
        <div class="text-presentation">
            <p>
                Apprentis gamers et programmeurs nous avons eu marre de ne voir que des cookies à cliquer, nous allons révolutionner
                les clickers avec notre nouveau modèle qui est l'ERREUR 404.
                Nous nous sommes réunis sur cette idée car chaque personne du groupe à une vision commune de ce projet, avec
                différentes capacités pour le mettre à bien.
                Nous nous sommes donc mis chacun dans nos rôles et nous avons avancé main dans la main.
            </p>
        </div>      
    </div>    
</div>
{% endblock %}