/* =================================
------------------------------------
  Game Warrior Template
  Version: 1.0
 ------------------------------------ 
 ====================================*/


/*----------------------------------------*/
/* Template default CSS
 /*----------------------------------------*/
$color1: #d473d4;
$color2: #303030;
$color3: #F5F5F5;
$color4: #77b5fe;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}
body {
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    position: relative;
    width: 100%;
    background-color: $color2;

    h1, h2 {
        font-family: 'Press Start 2P', cursive;
        color: $color4;
    }

    p {
        font-family: 'EB Garamond', serif;
    }

    a {
        text-decoration: none;
    }
    .alert-message {
        background-color: $color1;
        color: $color3;
        text-align: center;
        border: none;
        margin: 0 auto;
    }
}