/* Import bootstrap */
@import '~bootstrap';

@import '_global';
@import 'pages/_header';
@import 'pages/_home';
@import 'pages/_presentation';
@import 'pages/_classement';
@import 'pages/_mentions';
@import 'pages/_plan';
@import 'pages/_preloader';
@import 'pages/_jouer';
@import 'pages/_footer';
@import 'pages/_login';
@import 'pages/_media-query';
@import 'pages/_register';
@import 'pages/_profil';

























